<div class="row center-xs" style="margin-top:90px;">
  <div class="col-xs-8 com-md-6">
    <div class="box">

<h2>Registrarse</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"log-form-controll" %>
  </div>

  <div class="field">
    <%= f.label :password, "Contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"log-form-controll" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"log-form-controll" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar", class:"btn cream green" %>
  </div>
<% end %>
  <div class="actions">
<%= render "devise/shared/links" %>
  </div>

  </div>
  </div>
  </div>
  <%= render "partials/footer_above" %>
