    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Curso Moodle", root_path, class:"navbar-brand"%>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                    <%= link_to "Documentacion", page_path('moodle.html')%>
                    </li>
                    <li class="page-scroll">
                    <%= link_to "Unete", root_path+'curso'%>
                    </li>
                    <li class="page-scroll">
                <%= link_to "Contacto", root_path+'#contacto'%>
                    </li>
                    <%if user_signed_in? %>
                    <li >
                        <%=link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class:"btn-signup"%>
                    </li>                        
                    <%else%>
                    <li >
                        <%=link_to "Ingresar", new_user_session_path, class:"btn-connect"%>
                    </li>
                    <li >
                        <%=link_to "Registrarse", new_user_registration_path, class:"btn-signup"%>
                    </li>
                    <%end%>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>