<div class="row center-xs" style="margin-top:90px;">
  <div class="col-xs-8 com-md-6">
    <div class="box">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h2>Iniciar sesion</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


      <div class="field">
        <%= f.label :email, "Usuario o Email" %><br />
        <%= f.email_field :email, autofocus: true, class:"log-form-controll" %>
      </div>  

      <div class="field">
        <%= f.label :password, "Contraseña" %><br />
        <%= f.password_field :password, autocomplete: "off", class:"log-form-controll" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "Recordarme" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Ingresar", class:"btn cream green" %>
      </div>
      <% end %>
      <div class="actions">
        <%= render "devise/shared/links" %>
      </div>      
    </div>
  </div>
</div>
<%= render "partials/footer_above" %>
